* {
    box-sizing: border-box;
}

html, body {
    padding: 10px 10px 0 0;
    margin: 0;
    font-family: sans-serif;
}

.header-top {
    display: flex;
}

.logo p {
    color: rgb(18, 156, 110);
    font-size: 50px;
    margin: 0;
    padding: 10px 100px;
}

.menu {
    display: flex;
}

.main-menu {
    position: relative;
    padding: 0 100px;
}

.main-menu-item {
    display: inline;
    margin: 30px;
}

.header-button-group {
    display: flex;
}

.logo p{
    color: rgb(18, 156, 110);
    font-size: 32px;
    margin: 0;
}

.main-menu-item{
    list-style: none;
    font-size: 17px;
}

.main-menu-item a{
    text-decoration: none;
    color: rgba(35, 31, 31, 0.502);
    text-transform: capitalize;
}

.main-menu-item-active a{
    color: rgb(4, 20, 34);
}

.btn {
    color: rgba(0, 0, 0, 0.502);
    background-color: rgb(222, 248, 242);
    text-transform: capitalize;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 100px;
    height: 40px;
}

.header-bottom {
    display: flex;
    height: 350px;
}

.banner-description{
    padding: 0 100px;
}
.btn-info{
    background: rgba(18, 156, 110, 0.8);
    color: #fff;
    font-size: 18px;
}

.btn-danger{
    background-color: #fff;
    color: rgba(35, 31, 31, 0.502);
    font-size: 18px;
}

.btn-warning{
    background: rgba(18, 156, 110, 0.8);
    color: #fff;
}

.banner-description-title{
    font-weight: bold;
    font-size: 40px;
}
.banner-description-break{
    width: 100%;
    border: 1px solid rgba(18, 156, 110, 0.8);
    border-top-right-radius: 1000px;
    border-top-left-radius: 1000px;
}
.banner-description-content{
    font-weight: 40px;
    color: black;
}

.banner-image-wrap {
    padding: 70px;
}

.banner-image-wrap-img {
    position: absolute;
    right: 0;
    top: 100px;
    height: 350px;
    width: 400px;
    object-fit: cover;
}

.credit-card {
    top: 200px;
    position: relative;
    object-fit: contain;
    width: 150px;
    transform: rotate(45deg);
    left: 200px;
}

.form-group {
    position: relative;
    object-fit: contain;
    right: 150px;
    bottom: 100px;
    padding: 0 50px 100px;
}

.main {
    background: linear-gradient(to right, rgb(222, 248, 242), #ffffff);
    padding: 0 50px;
}

.main-text {
    position: relative;
    padding: 0 250px;
    font-size: 40px;
}

.company {
    display: flex;
}

.company-icon {
    position: relative;
    padding: 0 50px;
    display: flex;
}

.campany-icon-img {
    object-fit: contain;
    width: 30px;
}

.introduce {
    display: flex;
}

.introduce-text {
    padding: 0 50px;
}

.star {
    width: 5%;
}
.rating {
    display: flex;
}

.list {
    display: flex;
}

.list-push {
    width: 5%;
}

.feature {
    display: flex;
    padding: 0 50px 50px;
    align-items: baseline;
}

.feature-text {
    margin-right: 30px;
}

.feature-content {
    display: flex;
    padding: 0 50px;
}

.feature-content-list {
    margin-right: 30px;
}

.feature-img {
    object-fit: cover;
    width: 50%;
}

.benifit {
    display: flex;
    width: 500px;
}

.benifit-content {
    position: absolute;
    padding: 0 50px;
}

.benifit-text {
    padding: 0 20px 20px;
}

.benifit-img {
    position: absolute;
    right: 50px;
    width: 40%;
}

.benifit-des1 {
    position: relative;
    display: flex;
    align-items: center;
    left: 600px;
    top: 50px;
    background-color: white;
}

.benifit-des2 {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    left: 950px;
    top: 50px;
}

.benifir-img-per {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.choose-plan-section {
    text-align: center;
    padding: 150px 50px;
  }
  
  .section-title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #333;
  }
  
  .billing-options {
    margin-top: 50px;
  }
  
  .billing-text {
    font-size: 16px;
    color: #000;
  }
  
  .billing-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .billing-btn {
    display: inline-block;
    /* padding: 10px 20px; */
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
  }
  
  .billing-btn:hover {
    color: #fff;
    background-color: #4CAF50;
  }

  #option1 {
  margin-right: 10px;
}

#option2 {
  margin-left: 10px;
}

  .plan-cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 30px;
  }
  
  .plan-card {
    background-color: #3cb371;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 10px;
    transition: background-color 0.3s ease;
  }
  
  .plan-card:hover {
    background-color: #2e8b57;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .plan-title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }
  
  .plan-price {
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
  }
  
  
  .plan-features li {
    margin-bottom: 10px;
  }
  
  .feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .plan-card:hover .feature-container {
    background-color: #fff;
  }
  
  .feature-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #3cb371;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .plan-card:hover .feature-box {
    background-color: #fff;
    color: #000;
  }
  
  .feature-checklist {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .feature-checklist li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .feature-checklist li:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 5px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #3cb371;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #2e8b57;
  }
  
  .btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 128, 0, 0.3);
  }
  


.contact {
    background-color: black;
    color: #fff;
    display: flex;
}

.contact-text {
    position: relative;
    text-align: center;
    bottom: 450px;
}

.contact-info {
    position: relative;
    bottom: 450px;
    margin-left: 200px;
}

.request-form {
    text-align: center;
    padding: 10px;
    max-width: 400px;
    margin: 20 auto;
    text-align: left;
    margin-bottom: 20px;
}  

  
  .contact-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  input[type="message"] {
    width: 100%;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button.btn-request {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #3cb371;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.btn-request:hover {
    background-color: #2e8b57;
  }
  
  button.btn-request:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 128, 0, 0.3);
  }
  
  .start-free-trial {
    margin-top: 10px;
    text-align: right;
  }
  
  .start-free-trial a {
    color: #3cb371;
    text-decoration: none;
  }
  
  .start-free-trial a:hover {
    text-decoration: underline;
  }
  

.footer {
    background-color: black;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

.footer-intro {
    width: 500px;
    padding: 0 50px;
}

.footer-list {
    display: flex;
}

.footer-text {
    padding:  50px;
}

.link-contact {
    display: flex;
}

.btn-round{
    border-radius: 50px;
}

.text-grey{
    color: #aaa;
}

.form-control-input{
    border: none;
    border-bottom: 1px solid #aaa;
}
.btn-sm{
    padding: 5px;
    width: 80px;
    height: 25px;
    font-size: 14px;
}